<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  />
  <script src="https://use.fontawesome.com/899e289b32.js"></script>
  <script src="/main.js"></script>
  
  <title>Đọc truyện tranh online - Truyện gì cũng có - NetTruyen</title>
</head>

<header>
  <div class="navbar">
    <img
      src="https://st.nettruyenus.com/data/logos/logo-nettruyen.png"
      alt=""
    />
    <div class="search-box">
      <input type="text" placeholder="Tìm truyện..." />
      <button>
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <div class="icon-group">
      <i class="fa fa-lightbulb-o toggle-dark"></i>
      <i class="fa fa-comment notifications"></i>
    </div>

    <div class="sign-group">
      <% if(isLoggedIn) {%>
        <a href="/profile"><%= user %></a>
        <% } else {%>
      <a href="/login">Đăng nhập</a>
      <a href="/signup">Đăng ký</a>
      <% } %>
    </div>
  </div>
</header>

<nav class="main-nav" style="">
  <div class="inner">
    <div class="container clearfix" style="width: 1030px">
      <ul class="navbar-nav main-menu" style="float: left;margin: 0 -50px;flex-direction: row;">
        <li class="active"><a href="/"><i class="fa-solid fa-home"></i></a></li>
        <li><a href="#">HOT</a></li>
        <li><a href="#">Theo dõi</a></li>
        <li><a href="#">Lịch sử</a></li>
        <li class="dropdown">
          <a href="#"
            >Thể Loại
            <i class="fa-solid fa-caret-down">
              <ul class="nav dropdown-content">
                <li>
                  <div class="clearfix">
                    <ul>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </i></a
          >
        </li>
        <li class="dropdown">
          <a href="#"
            >Xếp hạng
            <i class="fa-solid fa-sort">
              <ul class="nav dropdown-content">
                <li>
                  <div class="clearfix">
                    <ul>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                      <li>Dropdown content</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </i></a
          >
        </li>
        <li><a href="#">Tìm truyện</a></li>
        <li><a href="#">Con gái</a></li>
        <li><a href="#">Con trai</a></li>
        <li><a href="#">Tải App</a></li>
        <li><a href="#">GROUP</a></li>
      </ul>
    </div>
  </div>
</nav>
</head>

</html>