

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/styles.min.css" />
  <link rel="stylesheet" href="/font-manga.min.css" />
  <link rel="stylesheet" href="/scrips.min.js" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
  />
  <script src="https://use.fontawesome.com/899e289b32.js"></script>
  <script src="./assets/main.js"></script>
</head>
<body>
  <%- include('partials/header') %>
<div class="container">
  <div id="ctl00_Breadcrumbs_pnlWrapper">
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a
          href="https://www.nettruyenus.com/" class="itemcrumb active" itemprop="item"
          itemtype="http://schema.org/Thing"><span itemprop="name">Trang chủ</span></a>
        <meta itemprop="position" content="2">
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a
          href="https://www.nettruyenus.com/Secure/Dashboard.aspx" class="selectedcrumb"></a></li>
    </ul>
  </div>
  <div class="row" style="margin-left: -300px; margin-right: 30px;">
    <div id="ctl00_divCenter" class="full-width col-sm-12">
      
      <div class="row">
        <div class="col-md-3 col-sm-4">
        </div>
        <div class="col-md-9 col-sm-8">
          <div class="user-page clearfix">
            <h1 class="postname">
              Thông tin truyện
            </h1>
            <div class="row">
              <div>
                <div class="account-info clearfix" >
                  <form action="/create-chapter" method="POST" enctype="multipart/form-data" style="margin: 5px 20px 0px 10px;" >
                  <div class="info-detail"  >
                    <h2 class="posttitle postname" style="font-weight:500;"  >
                      Tiêu Đề
                    </h2>
                    
                      <div>
                        <input type="text" id="title" name="title" style="padding: 5px 650px 5px 0;"/>
                      </div>
                    
                  </div>
                  <div class="info-detail"  >
                    <h2 class="posttitle postname" style="font-weight:500;"  >
                      Số Chương
                    </h2>
                    
                      <div>
                        <input type="text" id="chapnumber" name="chapnumber" style="padding: 5px 650px 5px 0;"/>
                      </div>
                    
                  </div>
                  <div class="info-detail"  >
                    <h2 class="posttitle postname" style="font-weight:500;"  >
                      Ảnh bìa
                    </h2>
                    
                      <div>
                        <label for="avatar">Image-Link:</label>
                        <input type="file" name="avatar" id="avatar" multiple />
                      </div>
                      <div id="imagePreview"></div>
                    
                    <script>
                      const fileInput = document.getElementById('avatar');
                      const imagePreview = document.getElementById('imagePreview');
                
                      fileInput.addEventListener('change', function() {
                        imagePreview.innerHTML = ''; // Xóa các hình ảnh trước đó
                
                        for (const file of this.files) {
                          if (file.type.startsWith('image/')) {
                            const img = document.createElement('img');
                            img.className = 'preview-image';
                            img.src = URL.createObjectURL(file);
                            imagePreview.appendChild(img);
                          }
                        }
                      });
                    </script>
                
                    <style>
                      .preview-image {
                        max-width: 100px;
                        max-height: 100px;
                        margin: 5px;
                      }
                    </style>
                    
                  </div>
                  <div class="info-detail"  >
                    <h2 class="posttitle postname" style="font-weight:500;"  >
                      Thể loại
                    </h2>
                    
                      <div class="dropdown">
                        <select name="type" id="type" style="padding: 5px 150px 5px 0;">
                          <% for(let i in comic){ %>
                            <option value="<%= comic[i].title %>"><%= comic[i].title %></option>
                          <% }; %>
                        </select>
                      </div>
                    
                  </div>
                  <div class="info-detail"  >
                    <h2 class="posttitle postname" style="font-weight:500;"  >
                      mô tả
                    </h2>
                    
                      <div id="text_area">
                        <textarea name="content" id="content" cols="110" rows="10"></textarea>
                      </div>
                    
                  </div>
                  <div>
                    <button class="btn btn-danger" type="submit" id="submit" style="padding: 10px 50px 10px 50px; font-size: large;">Đăng Truyện</button>
                  </div>
                </form>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>

</body>

</html>

<%- include('partials/footer') %>
