<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        
        <div id="sidebar-menu">
            <ul>
                

                <li class="has_sub">
                    <a href="dashboard.php" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span> Thống Kê
                        </span> </a>

                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-bulleted"></i>
                        <span> Phân Loại </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="add-category.php">Thêm</a></li>
                        <li><a href="manage-categories.php">Quản Lý</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-bulleted"></i>
                        <span>Đơn Hàng </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        
                        <li><a href="manage-oder.php">Quản Lý</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-bulleted"></i>
                        <span> Sản Phẩm </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="add-product.php">Thêm</a></li>
                        <li><a href="manage-product.php">Quản Lý</a></li>
                        
                    </ul>
                </li>


                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-bulleted"></i>
                        <span> Sự Kiện </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="add-event.php">Thêm Sự Kiện</a></li>
                        <li><a href="add-product-event.php">Thêm Sản Phẩm Vào Sự Kiện</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-format-list-bulleted"></i>
                        <span> Bình Luận </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="manage-comments.php">Quản Lý</a></li>
                    </ul>
                </li>

            </ul>
        </div>

        <div class="clearfix"></div>

        

    </div>


</div>